.space {
	height: 1000px;
}

.id {
	color: navy;
}

div:hover {
	color: white;
}

div :hover {
	color: black;
}

div .class:hover {
	color: white;
}

div {
	color: blue;
}

div .class { /* Note the space between div and .class */
	color: red;
}

div.class {
	color: green;
}

div.class p {
	color: yellow;
}

div h1.class {

}

#id {
	color: purple;
}
