<!DOCTYPE html>

<html>
	<div id="app">
		<h2> {{ mustacheSyntax }} </h2>
		<h2 v-show="showBool"> This is a text node in a v-show </h2>
		<button v-on:click="flipShowBool"></button>
		<h2 v-if="ifBool"> This is an if </h2>
		<h2 v-else> this is an else </h2>
		<button v-on:click="flipIfBool"></button>
		<h2> and now I'd like to say a few words: </h2>
		<ul>
			<li v-for="word in words"> {{ word }} - {{ $index }} </li>
		</ul>
		<h2> would you like to add a word? </h2>
		<form v-on:submit.prevent="addWord">
			<input type="text" v-model="newWord">
			<input type="button">
		</form>
	</div>
	<script src="/script.js"></script>
</html>


v-if, v-show
v-for
v-on
v-bind, v-model
